.blog {
	max-width: 800px;
	margin: 0 auto;
}

.blog footer {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	gap: 10px;
	justify-content: center;

	a {
		position: relative;
		padding: .25em 1rem;
		margin: 0;
		background: var(--color-link-light);
		border: 2px solid var(--color-link);
		color: var(--color-page-bg);
		border-radius: 9px;
		text-decoration: none;
		font-size: 120%;
		z-index: 0;
	}
	a:hover,
	a:focus {
		background: var(--color-link);
	}
	a[disabled] {
		display: none;
		/*
		opacity: 0.3;
		filter: grayscale(0.8) brightness(1.2) contrast(0.8);
		pointer-events: none;
		*/
	}
}

.post {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 1rem auto;
	align-items: center;
	border-radius: 9px;
	overflow: hidden;
	min-height: 10rem;
	box-shadow: inset 0 0 1px rgba(100,100,100,0.5);

	& > div {
		flex: 1;
	}

	a {
		display: block;
		padding: 20px 20px 10px;
		margin: 0;
		font-size: 150%;
		line-height: 1.3;
		color: var(--color-link);
		text-decoration: none;
		border-radius: 9px;
	}
	a:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 9px;
		z-index: 1;
	}
	a:hover:after {
		background-color: var(--color-tint);
		box-shadow: inset 0 0 0 1px var(--color-tint);
	}

	p {
		margin: 0;
		padding: 0 20px 20px;
		font-size: 85%;
		opacity: 0.7;
		line-height: 1.3;
	}

	img {
		position: relative;
		left: -10px;
		width: 200px;
		height: 5em;
		margin: 0;
		object-fit: cover;
		border-radius: 5px;
		transform: rotate(-2deg) scale(0.8);
		filter: contrast(0.8) brightness(1.2);
		transition: transform 200ms ease, filter 200ms ease;
		z-index: 1;
		pointer-events: none;
	}

	&:hover img {
		filter: none;
		transform: rotate(-1deg);
	}
}

@media (max-width: 660px) {
	.post {
		margin: 1rem -0.5em;

		& > div {
			flex: 1 1 100%;
			order: 2;
		}
		img {
			order: 1;
			width: auto;
			left: 0;
			flex: 1;
			opacity: 0.3;
			border-radius: 9px 9px 0 0;
			transform: none !important;
		}
	}
}
